body{
    margin: none;
    padding: none;
}
main{
    padding: 16px;
}
footer{
    padding: 24px, 0px;
}
img{
    height: 200px;
}
nav{
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: orangered;
    color: white;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/4;
}
a{
    text-decoration: none;
}
.top{
    color: white;
}
footer{
    background-color: lightgreen;
    padding: 16px;
}
h1{
    color: darkgreen;
}
.green{
    color: green;
}
tr:nth-child(even){
background-color: lightgray;
}
